body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1362f4a9;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    background: rgba(3, 147, 219, 0.566);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

form input,
form button {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
}

#contacts {
    margin-top: 20px;
}

.contact {
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}